.testimonial_card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.banner_backgroundImage {
  background-image: url("https://cdn.shopify.com/s/files/1/0704/6378/2946/files/Group_72181.png?v=1712918886");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
}


.home_backgroundImage {
  position: relative; /* Enable positioning context for the overlay */
  background-image: url("https://cdn.shopify.com/s/files/1/0704/6378/2946/files/Banner_1.png?v=1736096854");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  color: white; /* Ensures text color is white to contrast with the blue overlay */
  z-index: 0;
}

.home_backgroundImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #52356380; 
  z-index: -1; 
  pointer-events: none; 
}

.onlineClass_backgroundImage {
  position: relative; /* Enable positioning context for the overlay */
  background-image: url("https://cdn.shopify.com/s/files/1/0704/6378/2946/files/bgImg.webp?v=1730661923");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  color: white; /* Ensures text color is white to contrast with the blue overlay */
  z-index: 0;
}

.onlineClass_backgroundImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #945EB380; /* Semi-transparent blue overlay */
  z-index: -1; /* Place the overlay behind the content */
  pointer-events: none; /* Prevents interaction interference */
}

.assignment_backgroundImage {
  position: relative; /* Enable positioning context for the overlay */
  background-image: url("https://cdn.shopify.com/s/files/1/0704/6378/2946/files/assignmentBanner.jpg?v=1734630428");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  color: white; /* Ensures text color is white to contrast with the blue overlay */
  z-index: 0;
}

.assignment_backgroundImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #945EB380; /* Semi-transparent blue overlay */
  z-index: -1; /* Place the overlay behind the content */
  pointer-events: none; /* Prevents interaction interference */
}
